.BooksList {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 2em;
}

.Pagination {
    display: flex;
    justify-content: center;
    gap: 2em;

    button {
        &:hover {
            transform: scale(1.1);
        }
    }
}